[Desktop Entry]
Type=Application
Name=Start Docker VM
Comment=Start Lima Docker VM
Exec=/home/heywoodlh/bin/watch-lima.sh
Icon=/home/heywoodlh/opt/icons/docker.png
StartupNotify=false
