<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="autohotkey" />
  <package id="bitwarden-cli" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-font-helpers.extension" />
  <package id="docker-desktop" />
  <package id="DotNet4.5" />
  <package id="Firefox" />
  <package id="fzf" />
  <package id="git" />
  <package id="glow" />
  <package id="grep" />
  <package id="jq" />
  <package id="kubernetes-cli" />
  <package id="Less" />
  <package id="microsoft-windows-terminal" />
  <package id="nerd-fonts-Iosevka" />
  <package id="powershell-core" />
  <package id="powertoys" />
  <package id="python311" />
  <package id="Sudo" />
  <package id="syncthing" />
  <package id="vim" />
  <package id="wireguard" />
</packages>
