<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bitwarden-cli" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-font-helpers.extension" />
  <package id="DotNet4.5" />
  <package id="fzf" />
  <package id="glow" />
  <package id="nerd-fonts-Iosevka" />
  <package id="Sudo" />
  <package id="syncthing" />
</packages>
